/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   CSS Reset
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Site Standards */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}
html body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 24px;
  height: 100%;
}
/* Page Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9001;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav img {
  height: 60px;
}
nav .spacer {
  width: 40%;
}
nav .nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
nav .nav__container a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}
nav .nav__container a:hover {
  letter-spacing: 2px;
  transition: all 180ms ease-in-out;
}
nav .nav__container a:before,
nav .nav__container a:after {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
nav .nav__container a:hover:after,
nav .nav__container a:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}
nav .nav__container a:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}
.jumbotron {
  background-image: url("../img/home/home-jumbotron.jpeg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jumbotron h1 {
  color: white;
  font-size: 8.2rem;
  font-weight: bold;
  line-height: 120px;
  text-shadow: 4px 4px 3px #000000, 0px 8px 8px rgba(0, 0, 0, 0.8), 0px 8px 8px rgba(0, 0, 0, 0.8);
  margin-left: 5%;
}
.jumbotron button {
  margin: 4.5% 20% 0 0;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  height: 55px;
  width: 12%;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.jumbotron button:focus {
  outline: none;
}
.jumbotron button:hover {
  background-color: black;
}
.jumbotron button:hover a {
  color: white;
}
.jumbotron button a {
  text-decoration: none;
  color: black;
  width: 100%;
  heighT: 100%;
}
.welcome {
  background-color: #e2e2e2;
}
.welcome .welcome__container {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome .welcome__container h2 {
  font-size: 4.5rem;
  line-height: 50px;
  margin-bottom: 30px;
}
.welcome .welcome__container p {
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 50px;
}
.welcome .welcome__container a {
  color: black;
  text-decoration: none;
  width: 25%;
  align-self: center;
}
.welcome .welcome__container a button {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  height: 55px;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
.welcome .welcome__container a button:hover {
  background-color: black;
  color: white;
}
.work .work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 90px 0;
  margin: 0 auto;
}
.work .work__container h2 {
  font-size: 4.5rem;
  line-height: 50px;
  margin-bottom: 30px;
}
.work .work__container .work__comparison {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.work .work__container .work__comparison .work__comparison__column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work .work__container .work__comparison .work__comparison__column h3 {
  font-size: 3rem;
  text-align: center;
  margin: 25px 0;
}
.work .work__container .work__comparison .work__comparison__column img {
  height: 526px;
}
.work .work__container .work__comparison .work__comparison__column::before {
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}
.work .work__container .work__comparison .work__comparison__column:hover {
  transition: box-shadow 0.5s ease;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.4);
}
.work .work__container .work__comparison .work__comparison__column:hover .inner-block:before,
.work .work__container .work__comparison .work__comparison__column:hover .slider-top-right:after {
  height: 100%;
  background-color: black;
}
.work .work__container .work__comparison .work__comparison__column:hover .inner-block:after,
.work .work__container .work__comparison .work__comparison__column:hover .slider-top-right:before {
  width: 100%;
  background-color: black;
}
.work .work__container .work__comparison .work__comparison__column .slider-top-right:before,
.work .work__container .work__comparison .work__comparison__column .inner-block:after {
  height: 4px;
  transition: width 0.75s ease;
  width: 0%;
}
.work .work__container .work__comparison .work__comparison__column .slider-top-right:after,
.work .work__container .work__comparison .work__comparison__column .inner-block:before {
  height: 0%;
  transition: height 0.75s ease;
  width: 4px;
}
.work .work__container .work__comparison .work__comparison__column .inner-block:before,
.work .work__container .work__comparison .work__comparison__column .inner-block:after,
.work .work__container .work__comparison .work__comparison__column .slider-top-right:before,
.work .work__container .work__comparison .work__comparison__column .slider-top-right:after {
  background-color: #222;
  content: '';
  display: block;
  position: absolute;
}
.work .work__container .work__comparison .work__comparison__column .inner-block {
  font-size: 2em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.work .work__container .work__comparison .work__comparison__column .inner-block:before {
  bottom: 0;
  left: 0;
}
.work .work__container .work__comparison .work__comparison__column .inner-block:after {
  bottom: 0;
  right: 0;
}
.work .work__container .work__comparison .work__comparison__column .slider-top-right {
  position: relative;
  width: 100%;
  height: 100%;
}
.work .work__container .work__comparison .work__comparison__column .slider-top-right:before {
  top: 0;
  left: 0;
}
.work .work__container .work__comparison .work__comparison__column .slider-top-right:after {
  top: 0;
  right: 0;
}
.carousel--section {
  padding: 90px 0;
  background-image: url("../img/home/bg-carousel.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel--section .carousel__container {
  text-align: center;
}
.carousel--section .carousel__container h2 {
  color: white;
  font-size: 4.5rem;
  margin-bottom: 80px;
}
.carousel-inner .carousel-item img {
  height: 500px;
}
#carouselExampleControls {
  margin: 30px auto;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 0px 15px 10px black;
}
.tag-line {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.tag-line h2 {
  font-size: 4.5rem;
  margin: 30px 0;
}
.tag-line h2 a {
  color: white;
  text-shadow: 0px 0px 10px #000000, 0px 0px 8px #000000, 0px 0px 5px #000000;
  text-decoration: none;
}
.tag-line h2 a:hover {
  border: 2px solid black;
  transition: padding 1s ease;
  padding: 2px 20px;
}
.tag-line p {
  font-size: 3rem;
  margin: 20px 0;
}
