.jumbotron {
  background-image: url("../img/home/home-jumbotron.jpeg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: white;

    font-size: 8.2rem;
    font-weight: bold;

    line-height: 120px;
    text-shadow: 4px 4px 3px rgba(0,0,0,1),
                 0px 8px 8px rgba(0,0,0,0.8),
                 0px 8px 8px rgba(0,0,0,0.8);

    margin-left: 5%;
  }

  button {
    margin: 4.5% 20% 0 0;

    border: 2px solid black;
    background-color: rgba( 255, 255, 255, 0.4);

    height: 55px;
    width: 12%;

    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: black;

      a {
        color: white;
      }
    }

    a {
      text-decoration: none;
      color: black;
      width: 100%;
      heighT: 100%;
    }
  }
}

.welcome {
  background-color: #e2e2e2;

  .welcome__container {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    padding: 90px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 4.5rem;
      line-height: 50px;

      margin-bottom: 30px;
    }

    p {
      font-size: 2rem;
      line-height: 35px;

      margin-bottom: 50px;
    }

    a {
      color: black;
      text-decoration: none;
      width: 25%;

      align-self: center;



      button {
        border: 2px solid black;
        background-color: rgba( 255, 255, 255, 0.4);

        height: 55px;
        width: 100%;

        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;

        cursor: pointer;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.work {

  .work__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 800px;
    padding: 90px 0;
    margin: 0 auto;

    h2 {
      font-size: 4.5rem;
      line-height: 50px;

      margin-bottom: 30px;
    }

    .work__comparison {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .work__comparison__column {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 3rem;
          text-align: center;
          margin: 25px 0;
        }

        img {
          height: 526px;
        }

      	&::before {
      		bottom: 0;
      		content: '';
      		display: block;
      		position: absolute;
      		top: 0;
      		width: 100%;
      	}

      	&:hover {
          transition: box-shadow .5s ease;
          box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.4);

      		.inner-block:before,
      		.slider-top-right:after {
      			height: 100%;
            background-color: black;
      		}
      		.inner-block:after,
      		.slider-top-right:before {
      			width: 100%;
            background-color: black;
      		}
      	}


        .slider-top-right:before,
        .inner-block:after {
        	height: 4px;
        	transition: width .75s ease;
        	width: 0%;
        }

        .slider-top-right:after,
        .inner-block:before {
        	height: 0%;
        	transition: height .75s ease;
        	width: 4px;
        }

        .inner-block:before,
        .inner-block:after,
        .slider-top-right:before,
        .slider-top-right:after {
        	background-color: #222;
        	content: '';
        	display: block;
        	position: absolute;
        }

        .inner-block {
        	font-size: 2em;
        	width: 100%;
        	height: 100%;
        	position: absolute;
        	top: 0;
        	left: 0;
        	right: 0;
        	bottom: 0;
        	margin: auto;
        	&:before {
        		bottom: 0;
        		left: 0;
        	}
        	&:after {
        		bottom: 0;
        		right: 0;
        	}
        }

        .slider-top-right {
        	position: relative;
        	width: 100%;
        	height: 100%;
        	&:before {
        		top: 0;
        		left: 0;
        	}
        	&:after {
        		top: 0;
        		right: 0;
        	}
        }
      }
    }
  }
}

.carousel--section {
  padding: 90px 0;
  background-image: url("../img/home/bg-carousel.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  .carousel__container {
    text-align: center;

    h2 {
      color: white;
      font-size: 4.5rem;
      margin-bottom: 80px;
    }
  }
}

.carousel-inner {
  .carousel-item {
    img {
      height: 500px;
    }
  }
}

#carouselExampleControls {
  margin: 30px auto;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 0px 15px 10px black;
}

.tag-line {
  background-color: #e2e2e2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 90px 0;

  h2 {
    font-size: 4.5rem;
    margin: 30px 0;

    a {
      color: white;
      text-shadow: 0px 0px 10px rgba(0,0,0,1),
                   0px 0px 8px rgba(0,0,0,1),
                   0px 0px 5px rgba(0,0,0,1);
      text-decoration: none;

      &:hover {
        border: 2px solid black;
        transition: padding 1s ease;
        padding: 2px 20px;
      }
    }
  }

  p {
    font-size: 3rem;
    margin:  20px 0;
  }
}
